@import url("./reset.css");
@import url("./animation.css");

* {
  font-family: "Sigmar One", sans-serif, cursive;
}

body {
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 200% 200%;
  animation: bgGradient 5s infinite;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}

section div:first-child {
  animation: titleSlideReverse 1s;
}

img {
  width: 80rem;
  margin-left: 7rem;
  transform: scale(1.2) rotate(-10deg);
  animation: imageBubble 3s ease-in-out infinite;
  animation-delay: 1s;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  white-space: nowrap;
  animation: textShine 3s ease-in-out infinite;
}

h1 div:first-child {
  transform: translate(-20rem);
  animation: titleSlide 1s;
}

h1 div:last-child {
  transform: translate(0);
  animation: titleSlideReverse 1s;
}

h1 div {
  background: linear-gradient(
    90deg,
    #7953cd 0%,
    #00affa 25%,
    #ffffff 50%,
    #0190cd 75%,
    #764ada 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 100%;
}

@keyframes textShine {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
