@import url("./reset.css");

* {
  font-family: "Sigmar One", sans-serif, cursive;
}

body {
  background-color: blueviolet;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}
